* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #222;
    /* Background Color */
}

/* Card Details*/
.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(140deg, #00feca, #5b549a);
    /* card Background Color */
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 40px;
    /* padding to increase the card  */
    text-align: center;

}